
.button-primary {
    background-color: var(--brand-color-1);
    color: var(--white);
    border: none;
    width: 3.375rem;
    height: 2.375rem;
    border-radius: 0.25rem ;
    align-self: flex-end;

}
.button-primary:hover{
    background-color: var(--brand-color-2);
    
}

.button-grey1 {
    width: 5.75rem;
    height: 2.375rem;
    background-color: var(--color-grey-1);
    border: none;
    color: var(--white);
    border-radius: 0.25rem ;
    position: absolute;
}
.button-grey1:hover{
    background-color: var(--color-grey-0);
    
}

.button-white-fixed {
    width: 3.375rem;
    height: 2.375rem;
    background-color: var(--white);
    border: none;
    color: var(--color-grey-0);
    border-radius: 0.25rem ;
}
.button-white-fixed:hover{
    background-color: var(--color-grey-5);
}
.button-outline-medium {
    width: 3.375rem;
    height: 1.75rem;
    border: 0.063rem solid var(--color-grey-0);
    background-color: var(--white);
    color: var(--color-grey-0);
    border-radius: 0.125rem;

}
.button-outline-medium:hover{
    border: 0.063rem solid var(--brand-color-1);
    color: var(--brand-color-1);
    background-color: var(--color-fill-blue);
    border-radius: 0.125rem;

}
.button-outline-medium:focus{
    background-color: var(--brand-color-1);
    color: var(--white);
    border-radius: 0.125rem;
    border: none;
    width: 5.563rem;

}

@media(max-width:500px){

    .button-primary {
        background-color: var(--brand-color-1);
        color: var(--white);
        border: none;
        width: 3.375rem;
        height: 2.375rem;
        border-radius: 0.25rem ;
        align-self: flex-end;

    }
    .button-primary:hover{
        background-color: var(--brand-color-2);
        
    }

    .button-grey1 {
        width: 5.75rem;
        height: 2.375rem;
        background-color: var(--color-grey-1);
        border: none;
        color: var(--white);
        border-radius: 0.25rem ;
        position: absolute;
    }
    .button-grey1:hover{
        background-color: var(--color-grey-0);
      
    }

    .button-white-fixed {
        width: 3.375rem;
        height: 2.375rem;
        background-color: var(--white);
        border: none;
        color: var(--color-grey-0);
        border-radius: 0.25rem ;
    }
    .button-white-fixed:hover{
        background-color: var(--color-grey-5);
    }
    .button-outline-medium {
        width: 3.375rem;
        height: 1.75rem;
        border: 0.063rem solid var(--color-grey-0);
        background-color: var(--white);
        color: var(--color-grey-0);
        border-radius: 0.125rem;

    }
    .button-outline-medium:hover{
        border: 0.063rem solid var(--brand-color-1);
        color: var(--brand-color-1);
        background-color: var(--color-fill-blue);
        border-radius: 0.125rem;

    }
    .button-outline-medium:focus{
        background-color: var(--brand-color-1);
        color: var(--white);
        border-radius: 0.125rem;
        border: none;
        width: 5.563rem;

    }
    }