@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-1: #4263EB;
    --brand-color-2: #364FC7;

    --color-grey-0: #0A0C0D;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #868E96;
    --color-grey-4: #DEE2E6;
    --color-grey-5: #F8F9FA;
    --color-fill-blue: #EDF2FF;
    --grey-opacity-1: rgba(33, 37, 41, 0.5);
    --white: #ffffff;
    --like: #D7443E;

    --title-1-size: 1.75rem;
    --title-1-weight: 700;
    --title-1-line-height: 2.5rem;

    --title-2-size: 1.25rem;
    --title-2-weight: 600;
    --title-2-line-height:1.5rem;

    --text-1-size: 1rem;
    --text-1-weight: 400;
    --text-1-line-height:1.75rem;

    --text-2-size: 0.875rem;
    --text-2-weight: 400;
    --text-2-line-height:1rem;

    --text-3-size: 0.75rem;
    --text-3-weight: 400;
    --text-3-line-height:1rem;


    --radius-1: 0.25rem;
    --font-family-1: "Inter", sans-serif;
}

body {
    font-family: var(--font-family-1);
    background-color: #0A0C0D;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.01em; 
    background-color: var(--white);
}

ul {
    list-style: none;
}

@media(max-width:500px){
    body {
        background-color: var(--white);
       }
}